@tailwind base;

@tailwind components;

@tailwind utilities;

#gradient1 {
  background-image: url("./images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 800px) {
  #gradient1 {
    background-image: url("./images/bg-main-mobile.png");
  }
}
